# IDE related files:
.vscode

# Executables
*/*.out
*/*.exe
*/*/*.exe
*/*/*.out

# Trial results
*/*/metric_evaluation1.csv
*/*/weighted_metric1.csv
*/out.csv

# Caches:
*/*/*.gch

# Large Matrices
Matrices/large/*