# IDE related files:
.vscode

# Executables
*/*.out
*/*.exe
*/*/*.exe
*/*/*.out

# Trial results
Greedy_Coloring/Coeff_Test/*.csv
*/out.csv

# Caches:
*/*/*.gch

# Large Matrices
Matrices/large/*

# OS icons
desktop.ini